image:
    - Visual Studio 2022 

environment:
  matrix:
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python39"
    - PYTHON: "C:\\Python39-x64"
    - PYTHON: "C:\\Python310"
    - PYTHON: "C:\\Python310-x64"
    - PYTHON: "C:\\Python311"
    - PYTHON: "C:\\Python311-x64"

branches:
  only:
    - master

install:
  - "%PYTHON%\\python.exe -m pip install --upgrade pip setuptools wheel"
  - "%PYTHON%\\python.exe -m pip install ."

build: off

test_script:
  - "%PYTHON%\\python.exe --version"
  - "%PYTHON%\\python.exe -m tests"
